<div class="flex ">
  <div class="routes-sidebar px-4">

    <!-- Scrollable Routes Config Section -->
    <div class="sidebar-top-section flex flex-grow-1 flex-column">
      <div class="flex align-content-center justify-content-center">
        <h3>🏢Appartinator🏢</h3>
      </div>

      <div class="p-field">
        <p>Start Address</p>
        <input
          type="text"
          pInputText
          [(ngModel)]="pointA"
          placeholder="Start Address"
          [style]="{'width':'100%'}"
        />
      </div>

      <h4>Destinations</h4>
      <div class="flex flex-column flex-grow-1">
        <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
          <div *ngFor="let route of routes; let i = index">
            <p-accordion [multiple]="true" [value]="lastAddedRouteIndex">
              <p-accordion-panel [value]=i>
                <p-accordion-header>
                  <span class="flex items-center gap-2 w-full">Destination {{ i + 1 }}</span>
                  <button pButton icon="pi pi-trash" class="p-button-text mr-2" (click)="removeRoute(i)"></button>
                </p-accordion-header>
                <p-accordion-content>
                  <input
                    type="text"
                    pInputText
                    [(ngModel)]="route.destination"
                    placeholder="Adresse de destination"
                    [style]="{'width':'100%'}"
                  />

                  <div class="flex align-items-center mt-2">
                    <div *ngIf="(travelModesLabels$ | async) as travelModes; else loading">
                      <p-select
                        class="w-full md:w-56"
                        [options]="travelModes"
                        [(ngModel)]="route.mode"
                        placeholder="Select a travel mode"
                        appendTo="body"
                      ></p-select>
                    </div>
                    <ng-template #loading>
                      <p>Loading travel modes...</p>
                    </ng-template>
                  </div>


                  <!-- Date/Time specification -->
                  <div class="mt-2">
                    @if (route.specifyTime) {
                      <div class="flex">
                        <div class="flex flex-grow-1" style="width: 80%">
                          <p-calendar
                            [(ngModel)]="route.arrivalTime"
                            [showTime]="true"
                            hourFormat="24"
                            placeholder="Date/Heure"
                            appendTo="body"
                          />
                        </div>
                        <div class="flex flex-grow-0">
                          <p-button
                            icon="pi pi-times"
                            class="ml-2"
                            [variant]="'text'"
                            (click)="route.specifyTime = false;
                            route.arrivalTime = undefined;"
                          />
                        </div>
                      </div>
                    } @else {
                      <div class="flex justify-content-center">
                        <p-button label="Specify arrival Date/Time" size="small" icon="pi pi-calendar-clock"
                                  (click)="route.specifyTime = true"/>
                      </div>
                    }
                  </div>
                </p-accordion-content>
              </p-accordion-panel>
            </p-accordion>
          </div>
        </p-scrollPanel>
        <div class="flex justify-content-center align-content-center">
          <p-button icon="pi pi-plus-circle" label="Add a destination" class="mt-2" (click)="addRoute()"/>
        </div>
      </div>
    </div>

    <!-- Fixed Bottom Section  (durations, get-routes button) -->
    <div class="sidebar-bottom-section flex flex-column">
      @if (routes.length > 0 && hasCalculatedRoutes()) {
        <p-scrollPanel class="routes-footer flex" [style]="{ width: '100%', maxHeight: '200px' }">
          <h4>Route durations</h4>
          <div>
            <p *ngFor="let route of routes; let i = index">

              <span class="cursor-pointer text-primary" (click)="openRouteDetails(route)">
                {{ route.mode === 'DRIVING' ? '🚗' : '🚇' }} Route {{ i + 1 }} : {{ route.duration || 'N/A' }}
              </span>
            </p>

            <!-- Route Details Dialog -->
            <app-route-details-dialog
              *ngIf="selectedRoute"
              [route]="selectedRoute"
              [(visible)]="isDialogVisible">
            </app-route-details-dialog>
          </div>
        </p-scrollPanel>
      }
      <div class="flex justify-content-center">
        <p-button label="Get routes ! 🚀" class="my-2" (click)="calculateRoutes()"/>
      </div>
    </div>
  </div>

  <div class="flex-grow-1">
    @if (googleLoaded) {
      <google-map height="100vh" width="100%" [center]="center" [zoom]="zoom"></google-map>
    } @else {
      <p>Loading Google Maps...</p>
    }
  </div>
</div>
