.routes-sidebar {
  height: 100vh; /* Make it take full viewport height */
  width: 330px; /* Set a fixed width */
  display: flex;
  flex-direction: column;

  .sidebar-top-section {
    flex-grow: 1;
    overflow-y: auto; /* Enable scrolling */
    padding-right: 0.5rem; /* Prevent content clipping with scrollbar */
  }

}

::ng-deep p-accordion .p-accordion-content {
  overflow: visible !important;
}

::ng-deep p-dropdown {
  z-index: 1050 !important; /* Make sure it appears above the accordion */
  position: relative;
}

::ng-deep .p-dropdown-panel {
  z-index: 2000 !important; /* Ensure the dropdown menu is always visible */
}
