<!-- src/app/app.component.html -->

<!-- Sidebar de configuration -->
<p-sidebar [(visible)]="sidebarVisible" position="left">
  <h3>Routes config</h3>
  <div class="p-fluid">
    <div class="p-field">
      <p>Point A (Start)</p>
      <input id="pointA" type="text" pInputText [(ngModel)]="pointA" placeholder="Adresse du point A">
    </div>
    <div class="p-field">
      <p>Point B (by transit)</p>
      <input id="pointB" type="text" pInputText [(ngModel)]="pointB" placeholder="Adresse du point B">
    </div>
    <div class="p-field">
      <p>Point C (by car, arrival Tuesday at 9am)</p>
      <input id="pointC" type="text" pInputText [(ngModel)]="pointC" placeholder="Adresse du point C">
    </div>
    <p-button label="Get routes ! 🚀" (click)="calculateRoutes()" />
  </div>
</p-sidebar>

<p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right" />


<div>
@if (googleLoaded)
{
  <google-map
    height="100vh"
    width="100%"
    [center]="center"
    [zoom]="zoom">
  </google-map>
}
@else {
  <p>Loading Google Maps...</p>
}
</div>
