<!-- Sidebar de configuration -->
<div class="flex routes-sidebar">
  <div [style.width.px]="300" class="px-4">
    <h3>Routes config</h3>
    <div class="p-field">
      <p>Point A (Start)</p>
      <input id="pointA" type="text" pInputText [(ngModel)]="pointA" placeholder="Adresse du point A">
    </div>
    <div class="p-field">
      <p>Point B (by transit)</p>
      <input id="pointB" type="text" pInputText [(ngModel)]="pointB" placeholder="Adresse du point B">
    </div>
    <div class="p-field mb-3">
      <p>Point C (by car, arrival Tuesday at 9am)</p>
      <div class="flex flex-grow-1">
        <input
          [style]="{'width':'100%'}"
          id="pointC" type="text" pInputText [(ngModel)]="pointC"
               placeholder="Adresse du point C">
      </div>
    </div>
    <div class="flex justify-content-center flex-grow-1">
      <p-button label="Get routes ! 🚀" (click)="calculateRoutes()"/>
    </div>
  </div>
  <div class="flex-grow-1">
    @if (googleLoaded) {
      <google-map
        height="100vh"
        width="100%"
        [center]="center"
        [zoom]="zoom"
      />
    } @else {
      <p>Loading Google Maps...</p>
    }
  </div>
</div>
